<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

<body>
    <div class="main-content">
        <div id="wrapper">
            <%- include('../partials/header') %>
            <%- include('../partials/navigation') %>
    
            <main>
                <%- body %>
            </main>
    
            <%- include('../partials/footer') %>
        </div>
    </div>
</body>
</html>